[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = fedediiaz
	email = federico.n.diaz92@gmail.com
	signingkey = 
[commit]
	gpgsign = true
